@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes continuousSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.continuous-slide {
   animation: slide 10s infinite linear;
}

.continuous-slide:hover {
  animation-play-state: paused;
}